<main>
    <div class="content-container">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="main-heading">{{title}}</h1>
        <p class="close-modal" (click)="closeModal()">x</p>
      </div>
      <div class="card shadow px-5 py-2">
         <form>
          <div class="row mt-2">
            <p>Basic Information</p>
            <hr>
            <div class="col-lg-4">
              <label for="fName">  Name</label>
              <input type="text" id="Name" class="custom-input" required placeholder="Enter name" formControlName="name">
            </div>
            <div class="col-lg-4">
              <label for="lName">Description</label>
              <input type="text" id="description" class="custom-input" required placeholder="Enter description" formControlName="description">
            </div>
            
            
             
              <div class="col-lg-3">
                  <label for="address">Price</label>
                  <input type="text"  id="price" class="custom-input" required placeholder="Enter price" formControlName="price">
                </div>
            
            <div class="row mt-3">
             
              <div class="col-lg-3">
                  <label for="address">Quantity</label>
                  <input type="text"  id="quantity" class="custom-input" required placeholder="Enter quantity" formControlName="quantity">
                </div>
            </div>
            </div>
            <div class="d-flex mt-2" style="float: right;">
              <button class="mx-2 btn-secondary secondary-button" type="reset" style="width: 150px">Clear</button>
              <button class="mx-2 primary-button" type="submit" style="width: 150px">{{buttonText}}</button>
            </div>
         </form>
      </div>
    </div>
  </main>
  