@import '../../../../theme/styles-global.scss';
@import '../../../../theme/mixins.scss';

.navbar{
  background: $admin-primary;
  color: $admin-primary-button;
  z-index: 9;
}
.navbar-brand{
  color: $admin-primary-button;

  img{
    border-radius: 50%;
  }
}
.nav-item{
  cursor: pointer;
}
@media all and (max-width: 425px){

  .main-container{

    .container{

      .logo-container{

        .text-logo{
          font-size: 1.1rem;
          font-weight: 400;
          letter-spacing: 0 ;
        }

        .image-logo-wrapper{
          width: 30px;
          height: 30px;
          padding-right: 5px;

          .image-logo{
            width: 30px;
            height: 30px;
          }
        }
      }

      .navigation-container{

        .navigation-wrapper{

          .navItem{
            padding: 0 3px;
            cursor: pointer;
            margin: 0 3px;

            mat-icon{
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
 }
