<div>
  <div class="action-buttons">
    <!-- <button type="button" class="btn btn-secondary">Add</button> -->
    <button class="fa fa-download" (click)="onBtnExport()"></button>
  </div>

  <div class="quick_filter">
    <i class="fa fa-filter" aria-hidden="true"></i>
    <div class="quick-search-input">
      <input
        #input
        type="text"
        placeholder="Search..."
        (input)="onSearchTextChanged($event)"
        [(ngModel)]="searchText"
        value="{{ searchText }}"
      />
      <i
        class="fa fa-search"
        ria-hidden="true"
        *ngIf="searchText.length == 0"
      ></i>
      <i
        class="fa fa-times"
        aria-hidden="true"
        *ngIf="searchText.length > 0"
        (click)="onClearSearchText()"
      ></i>
    </div>
    <em *ngIf="input.value.length > 0"><b>Filter: </b>{{ input.value }}</em>
    <em *ngIf="input.value.length == 0">No Filter Applied</em>
    <span class="row_count"> {{ rowCount }} Items</span>
  </div>
  <div>
    <ag-grid-angular
      style="width: 100%; height: 300px"
      class="ag-theme-alpine"
      [gridOptions]="gridOptions"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      rowSelection="single"
      [enableColResize]="true"
      (rowClicked)="onRowClicked($event)"
    >
    </ag-grid-angular>
  </div>
</div>
