@import '../../theme/variables.scss';


.action-buttons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  p{
    color: $admin-text-color-secondary;
    margin-right: 10px;
    margin-bottom: 0;
  }
  button{
    background-color: transparent;
    border: 2px solid $admin-text-color-secondary;
    border-radius: 4px;
    color: $admin-text-color-secondary;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    padding: 6px;
    margin-bottom: 8px;
    margin-right: 5px;

    mat-icon{
      font-size: 1rem;
      padding-top: 4px;
    }
  }

  button:hover{
    color: $admin-text-color;
    cursor: pointer;
  }
}

.quick_filter {
  display: flex;
  align-items: center;
  padding: 30px 15px;
  height: 46px;
  background-color: $admin-primary;
  color: $admin-text-color;
  border: none;
  border-radius: 12px 12px 0 0;

  .fa-filter {
    font-size: 30px;
    color: $admin-text-color-secondary;
    padding-right: 15px;
  }

  em {
    padding-left: 15px;
    margin-left: 15px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-left: 1px solid $admin-secondary;
  }

  .row_count {
    color: $admin-text-color;
    font-size: 1rem;
    margin-left: auto;
  }

  .quick-search-input {
    background-color: $admin-text-color;
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 250px;
    height: 32px;
    border: 1px solid $admin-secondary;
    padding-left: 7px;
    padding-right: 7px;

    input[type="text"] {
      border: none;
      flex-grow: 1;

      &:focus {
        border: none;
        outline: none;
      }
    }

    .fa {
      font-size: 20px;
      color: #767676;

      &.fa-times {
        cursor: pointer;
      }
    }
  }

  .quick-search-extra {
    margin-left: auto;
  }

  .filters-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;

    .filter-applied {
      background: $admin-secondary;
      border: 1px solid #bfbfbf;
      padding: 6px;
      margin: 4px 4px 4px 5px;
      border-radius: 2px;

      .fa {
        font-size: 20px;
        color: #767676;
        cursor: pointer;
        margin-left: 10px;
      }
    }
  }

  .close-icon {
    margin-left: 10px;
  }
}
