<div>
  <div class="action-buttons">
    <button type="button" (click)="openAddPopup()" *ngIf="isAddButtonRequired">
      <span>Add New</span>
      <mat-icon>add_circle_outline</mat-icon>
    </button>
    <button type="button" (click)="onBtnExport()" *ngIf="isShowExportCSVButton" >
      <span>Export CSV</span>
      <mat-icon>download</mat-icon>
    </button>
  </div>

  <div *ngIf="isShowHeader" class="quick_filter shadow">
    <i class="fa fa-filter" aria-hidden="true"></i>
    <div class="quick-search-input">
      <input
        #input
        type="text"
        placeholder="Search..."
        (input)="onSearchTextChanged($event)"
        [(ngModel)]="searchText"
        value="{{ searchText }}"
      />
      <i
        class="fa fa-search"
        ria-hidden="true"
        *ngIf="searchText.length == 0"
      ></i>
      <i
        class="fa fa-times"
        aria-hidden="true"
        *ngIf="searchText.length > 0"
        (click)="onClearSearchText()"
      ></i>
    </div>
    <em *ngIf="input.value.length > 0"><b>Filter: </b>{{ input.value }}</em>
    <em *ngIf="input.value.length == 0">No Filter Applied</em>
    <span class="row_count"> {{ rowCount }} Rows</span>
  </div>
  <div>
    <ag-grid-angular
      style="width: 100%; height: 480px"
      class="ag-theme-alpine"
      [gridOptions]="gridOptions"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      (rowClicked)="onRowClicked($event)"
      [enableColResize]="true"
      rowSelection="single"
      (cellClicked)="openPopUp($event)"
    >
    </ag-grid-angular>
  </div>
</div>
