<main>
    <div class="content-container">
      <h1 class="main-heading">{{title}}</h1>
      <div class="card p-5 shadow">
        <form [formGroup]="form" (ngSubmit)="addUpdateDetails(form.value)">
          <label for="termsAndConditions">Terms & Conditons</label>
          <textarea class="custom-input form-control" placeholder="Enter termsAndConditions" name="termsAndConditions" id="termsAndConditions" cols="30" rows="10" formControlName="termsAndConditions"></textarea>
          &nbsp;&nbsp;
          <div *ngIf="f.termsAndConditions.touched && f.termsAndConditions.invalid" class="alert alert-danger">
            <div *ngIf="f.termsAndConditions.errors && f.termsAndConditions.errors.required">TermsAndConditions is Required.</div>
         </div>  
          <div class="form-check form-switch mt-2" style="float: left" *ngIf="isUpdate">
            <input class="form-check-input" type="checkbox" role="switch" formControlName="isDefault" id="termsAndConditions">
            <label class="form-check-label" for="termsAndConditions"> User</label>
          </div>
          <div class="d-flex mt-3" style="float: right;">
            <button class="mx-2 secondary-button shadow" type="button" style="width: 150px" (click)="closeDialog('')">Cancel</button>
            <button class="mx-2 primary-button shadow" type="submit" style="width: 150px">{{buttonText}}</button>
          </div>
        </form>
      </div>
    </div>
  </main>
  