@import '../../../../../theme/variables.scss';
@import '../../../../../theme/mixins.scss';

main{
    background: $admin-secondary;
    height: 95vh;
    overflow-y: scroll;
}
.card-title{
    font-size: 25px;
}
.card{
    background: $admin-primary;
    color: $admin-primary-button;
    cursor: pointer;
}
.recent-container {
    h1 {
        color: $admin-text-color;
    }
    hr {
        color: $admin-text-color-secondary;
    }
}