<main>
  <div class="content-container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="card shadow">
          <div class="card-body text-center">
            <h4 class="card-title">2332</h4>
            <h2 class="card-text">Total Users</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div style="color: skyblue" class="card shadow">
          <div class="card-body text-center">
            <h4 class="card-title">232</h4>
            <h2 class="card-text">Total Redeems</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div style="color: blueviolet" class="card shadow">
          <div class="card-body text-center">
            <h4 class="card-title">3453</h4>
            <h2 class="card-text">Total Charity</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div style="color: pink" class="card shadow">
          <div class="card-body text-center">
            <h4 class="card-title">8975</h4>
            <h2 class="card-text">Total Innovation</h2>
          </div>
        </div>
      </div>
    </div>
    <div>
      <!-- <admin-shared></admin-shared> -->
    </div>
  </div>
</main>
