// Color Variables

// $admin-primary: rgba(121,8,234, 1);
// $admin-primary: #0099FF;
// $admin-secondary: #ffffff;
// $admin-text-color: rgba(0, 0, 0, 0.87);
// $admin-primary-button: #0099FF;
// $admin-danger: #ff0505;
// Background Variables

$admin-primary: #202136;
$admin-secondary: #2C2D42;
$admin-text-color: #FFFFFF;
$admin-text-color-secondary: #A7A7AF;
$admin-primary-button: #FFD54F;
$admin-danger: #ff0505;
// $admin-fallback-bg: rgb(216,112,250);
// $admin-primary-bg: linear-gradient(124deg, rgba(216,112,250,1) 0%, rgba(121,8,234,1) 100%);

// Height Variables

$h-100: 100%;
$h-50: 50%;

// Width Variables

$w-100: 100%;
$w-50: 50%;
$w-30: 30%;
$w-20: 20%;

// Padding Variables

$p-0: 0;
$p-1: 1rem;
$p-2: 2rem;
$p-3: 3rem;

// Margin Variables

$m-0: 0;
$m-1: 0.5rem;
$m-2: 1rem;
$m-3: 2rem;
$m-4: 3rem;

// Border Variables

$border-none: none;

// Border Radius Varables

$border-radius-circle: 50%;
