<main>
  <div class="content-container">
    <h1 class="main-heading">Innovation</h1>
    <div>
      <admin-shared
        [rowData]="updatedInnovation"
        [columnDefs]="columnDefs"
        [gridOptions]="gridOptions"
        [isDeleteUnClicked]="unclickDelete"
        [isAddButtonRequired]="true"
        (isRowClickedToViewData)="getRowsDataToView($event)"
        (isRowClickedToDeleteData)="getDeletedRowData($event)"
        (isRowClickedToEditData)="getRowsDataToBeEdited($event)"
        (isAddButtonClicked)="getAddButtonStatus($event)"
      ></admin-shared>
    </div>
  </div>
</main>
