<main>
    <div class="content-container">
      <h1 class="main-heading">About</h1>
      <div class="card p-5 shadow">
        <form>
          <label for="about">About</label>
          <textarea class="custom-input" placeholder="Enter about" name="" id="about" cols="30" rows="10"></textarea>
          <div class="d-flex mt-3" style="float: right;">
            <button class="mx-2 primary-button shadow" type="submit" style="width: 150px">Confirm</button>
          </div>
        </form>
      </div>
    </div>
  </main>
  