@import '../../../../../../theme/variables.scss';
@import '../../../../../../theme/mixins.scss';

.charity-clm {
    img{
        width: 100%;
        height: 300px;
        object-fit: contain;
    }
    h4 {
        span { font-weight: 900;}
    }
}
