<div class="login-page">
    <div class="logo-container">
        <div class="logo-wrapper">
            <h1>{{brandName}}</h1>
        </div>
    </div>
    <div class="custom-error" *ngIf="isCustomError">
      {{errorMessage}}
    </div>
  <div class="login-container shadow">
    <div class="login-wrapper">
      <h3>Admin Signin</h3>
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-container">
        <div class="mb-3">
          <label for="floatingInput">Mobile Number</label>
          <input type="text" class="custom-input" id="floatingInput" placeholder="Enter Mobile number" formControlName="phone" maxlength="10" required>
        </div>
        <div class="my-2">
          <label for="floatingPassword">Password</label>
          <input type="password" class="custom-input" id="floatingPassword" placeholder="Password" formControlName="otp" maxlength="6" required>
        </div>
        <div class="text-center mt-3">
          <button *ngIf="!isLoading" type="submit" class="primary-button shadow">Sign in</button>
          <button *ngIf="isLoading" type="submit" class="primary-button shadow">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
