<div class="container" style="padding: 20px;">
    <h1>Category Detail</h1>
    <div class="row">
        <form [formGroup]="categoryForm" (ngSubmit)="addUpdatecategoryDetails(categoryForm.value)">
            <div class="col-lg-12 my-2">
                <label for="title">Title</label>
                <input id="title" type="text" formControlName="title" class="form-control">
                <div *ngIf="f.title.touched && f.title.invalid" class="text-danger mt-1">
                    <div *ngIf="f.title.errors && f.title.errors.required">Title is Required.</div>
                </div> 
            </div>
            <div class="col-lg-12 my-2">
                <label for="description">Description</label>
                <textarea id="desc" rows="5" type="text" formControlName="description" class="form-control"></textarea>
                <div *ngIf="f.description.touched && f.description.invalid" class="text-danger mt-1">
                    <div *ngIf="f.description.errors && f.description.errors.required">Description is Required.</div>
                </div> 
            </div>
            <div class="col-lg-12 d-flex my-2">
                <button class="btn-secondary secondary-button"(click)="closeModal()" type="reset" style="width: 100%">Cancel</button>
                <button *ngIf="!isLoading" class="mx-2 primary-button" type="submit" style="width: 100%">{{buttonText}}</button>
                <button *ngIf="isLoading" class="mx-2 primary-button" type="submit" style="width: 150px">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </div>
        </form>
    </div>
</div>
