<main>
    <div class="content-container">
      <h1 class="main-heading">Game Setup</h1>
      <div>
        <!-- <admin-shared></admin-shared> -->
        <div class="card shadow p-5">
          <form [formGroup]="gameForm" (ngSubmit)="gameUpdate(gameForm.value)">
            <div class="row">
              <div class="col-lg-4">
                <label for="numberOfSpinForRound">Number of Spin for Round</label>
                <input type="number"  formControlName="numberOfSpinForRound" id="numberOfSpinForRound" class="custom-input" placeholder="Enter Number">
              </div>
              <div class="col-lg-4">
                <label for="winPercentage">Win Percentage</label>
                <input type="number"  formControlName="winPercentage" id="winPercentage"  class="custom-input" placeholder="Enter Number">
              </div>
              <div class="col-lg-4">
                <label for="chipsForRound">Chips for Round</label>
                <input type="number"  formControlName="chipsForRound" id="chipsForRound" class="custom-input" placeholder="Enter Number">
              </div>
              <div class="col-lg-4 mt-3" style="display:none">
                <label for="minimumNumberOfChipsRewardedToWinner">Minimum Number Of Chips Rewarded To Winners</label>
                <input  readonly="readonly" type="number" formControlName="minimumNumberOfChipsRewardedToWinner" id="minimumNumberOfChipsRewardedToWinner" class="custom-input" placeholder="Enter Number" aria-disabled="true" />
              </div>
              <div class="col-lg-4 mt-3" style="display:none">
                <label for="maximumNumberOfChipsRewardedToWinner">Maximum Number Of Chips Rewarded To Winners</label>
                <input  readonly="readonly" type="number" formControlName="maximumNumberOfChipsRewardedToWinner" id="maximumNumberOfChipsRewardedToWinner" class="custom-input" placeholder="Enter Number">
              </div>
            </div>
            <button *ngIf="!isLoading" class="primary-button mt-4" type="submit" style="width: 200px">Update</button>
            <button *ngIf="isLoading" class="primary-button mt-4" type="submit" style="width: 200px">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </button>
          </form>
        </div>
      </div>
    </div>
  </main>
  