<main class="view-user">
  <div>
    <form action="">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <label for="enq">Terms & Conditions</label>
            <textarea
              id="enq"
              rows="10"
              class="form-control"
              value="{{ userDetails.termsAndConditions }}"
              disabled
            ></textarea>
          </div>
        </div>

        <div class="form-check form-switch" *ngIf="isUpdate">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            formControlName="isDefault"
            id="termsAndConditions"
          />
          <label class="form-check-label" for="termsAndConditions">User</label>
        </div>
        <label class="mt-2">Default: {{ data.isDefault }}</label>
        <button
          class="secondary-button"
          type="button"
          style="width: 150px; margin-left: auto"
          (click)="closeDialog('')"
        >
          Close
        </button>
      </div>
    </form>
  </div>
</main>
