/* You can add global styles to this file, and also import other style files */
@import "../src/theme/variables.scss";
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-balham.css";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

html, body { height: 100%; }
body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
p{margin: 0;}

// CSS code for all the contents

main{

  .content-container{
    padding: $p-3;
  }
}
