/* You can add global styles to this file, and also import other style files */
@import "../src/theme/variables.scss";

html, body { height: 100%; }
body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
p{margin: 0;}

// CSS code for all the contents

main{

  .content-container{
    padding: $p-3;
  }
}
