@import '../../../../../../theme/variables.scss';

main{

    .content-container{

        .main-heading{
            color: $admin-text-color;
            font-size: 25px;
        }
    }
}

.image-rse {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

select {
    width: 100% !important;
      border: 1px solid lightgray !important;
      border-radius: 5px !important;
      padding: 8px !important;
      outline: none !important;
  }