@import '../../../../../../theme/variables.scss';

main{

    .content-container{

        .main-heading{
            color: $admin-text-color;
            font-size: 25px;
        }
    }
}

.image-rse {
    width: 100%;
    height: 250px;
    object-fit: contain;
}