@import "../../../../theme/styles-global.scss";
@import "../../../../theme/mixins.scss";

aside {
  height: 95vh;
  width: 270px;
  overflow: scroll;
  background-color: $admin-primary;
  .container {
    padding: 0;

    .wrapper {
      .sidenav {
        position: setPosition(relative);
        background: $admin-primary;

        .toggle-button {
          position: setPosition(absolute);
          right: -20px;
          top: 20px;
          display: none;

          button {
            border-radius: $border-radius-circle;
            -webkit-border-radius: $border-radius-circle;
            -moz-border-radius: $border-radius-circle;
            padding: 0.5rem;
            @include flex-view;
            border: $border-none;
            background: $admin-primary;
            color: $admin-secondary;
            cursor: pointer;
          }
        }

        .profile-container{
          border-bottom: 1px dashed $admin-primary;

          .profile-wrapper{
            padding: $p-1;

            .profile-detail-wrapper{
              @include flex-view;

              .picture-container{
                border-radius: $border-radius-circle;
                width: 60px;
                height: 60px;

                img{
                  border-radius: $border-radius-circle;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }

              .details-container{
                margin-left: $m-1;
                
                p{
                  margin-bottom: $p-0;
                }
                
                .name{
                  font-weight: 500;
                  letter-spacing: 1px;
                  font-size: 0.8rem;
                  color: $admin-text-color;
                }
                
                .designation{
                  color: $admin-text-color-secondary;
                  font-size: 0.6rem;
                }
              }
            }

            .actions{
              padding-top: $p-1;
              color: $admin-primary;
              @include flex-view;
              justify-content: flex-variables(space-around);
              // Hidden for some applicaions
              display: none;

              mat-icon{
                cursor: pointer;
              }
            }
          }
        }

        .sidenav-wrapper {
          padding-left: $p-0;
          margin: $m-0;

          .navigation-items {
            list-style-type: none;

            .items {
              @include flex-view;
              padding: $p-1;
              font-size: 1rem;
              text-decoration: none;
              color: $admin-text-color-secondary;

              span{
                margin-left: $m-2;
              }

              .expand-more-icon {
                margin-left: auto;
              }
            }

            .sub-navigation-container{

              .sub-navigation-items {
                font-size: 1rem;
                background-color: $admin-secondary;

                .sub-navigation-wrapper{
                  padding: $p-1;
                  padding-left: $p-2;
                }

                .sub-active{
                  
                  mat-icon, span{
                    color: $admin-primary;
                  }
                }
              }
            }
          }

          .active{
            background: $admin-secondary;
          
              mat-icon{
                color: $admin-primary-button;
              }
          
              span{
                color: $admin-primary-button;
              }
          }

          .navigation-items:hover {
            background: $admin-secondary;
            cursor: pointer;

            .items {

              mat-icon{
                color: $admin-primary-button;
              }

              span{
                color: $admin-primary-button;
              }
            }
          }
        }
      }
    }
  }
}

.sub-navigation-container{

  .sub-navigation-items {

    .sub-navigation-wrapper{
      @include flex-view;
      text-decoration: none;
      // padding: $p-2 $p-2 $p-2 $p-4;

      mat-icon {
        color: $admin-text-color-secondary;
      }

      span {
        margin-left: $m-2;
        color: $admin-text-color-secondary;
      }

      .expand-more-icon {
        margin-left: auto;
      }
    }
  }

  .sub-navigation-items:last-child{
    margin-bottom: 0;
  }

  .sub-navigation-items:hover {
    background: $admin-primary;
    // border-radius: 0 30px 30px 0;
    cursor: pointer;

    mat-icon {
      color: $admin-text-color-secondary;
    }

    span {
      color: $admin-text-color-secondary;
    }
  }
}
